    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <%= link_to 'API Demo', root_path, class: "brand"  %>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
          <li id="navbar-intro">Logged in as<span id="navbar-introtext"><%= current_user.email %></span></li>
          <li><%= link_to 'My Account', edit_user_registration_path %> </li>
          <li><%= link_to 'Log Out', destroy_user_session_path, :method => :delete %></li> 
          <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
          <li><%= link_to "Register", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>